.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.login-container {
  background-image: linear-gradient(#2b2c49, #b5b9ff);
  height: 50%;
  width: 40%;
  border-radius: 8px 12px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
