/* Write your CSS here */
.login-button {
  background-color: #ffffff;
  color: #303150;
  border-radius: 8px;
  padding: 12px 20px;
  font-size: 20px;
  font-family: 'Roboto';
  font-weight: 500;
  outline: none;
  border: none;
}
